<nav class="navbar navbar-light bg-transparent py-3 fixed-top">

    <div class="container px-5 justify-content-center">
        <ul class="navbar-nav mb-2 mb-lg-0 small fw-bolder p-3 border border-1 shadow rounded-5 d-flex flex-row bg-white">

            <li class="nav-item mx-2">
                <a class="nav-link" href="#inicio">Inicio</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#resumen">Resumen</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#proyectos">Proyectos</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#contacto">Contacto</a>
            </li>
        </ul>
    </div>
</nav>

