<nav class="navbar navbar-light bg-white py-3">
    <div class="container px-5 justify-content-center">
        <!-- Cuadro solo alrededor de los enlaces -->
        <ul class="navbar-nav mb-2 mb-lg-0 small fw-bolder p-3 border border-1 shadow rounded-5 d-flex flex-row">
            <li class="nav-item mx-2"><a class="nav-link" href="index.html">Inicio</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="resumen.html">Resumen</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="proyectos.html">Proyectos</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="contacto.html">Contacto</a></li>
        </ul>
    </div>
</nav>
